<div class="form-container">
  <form class="task-form" [formGroup]="userForm">
    <div class="form-group">
      <label for="inputName" class="form-label">{{'NAME' | translate}}</label>
      <input
        id="inputName"
        type="text"
        class="form-control"
        placeholder="{{'NAME_PLACEHOLDER' | translate}}"
        formControlName="name"
      />
      <span
        class="text-danger"
        *ngIf="
          userForm.get('name')?.touched &&
          userForm.get('name')?.hasError('required')
        "
      >
      {{'NAME_VALIDATOR' | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="inputUsername" class="form-label">{{'USERNAME' | translate}}</label>
      <input
        id="inputUsername"
        type="text"
        class="form-control"
        placeholder="{{'USERNAME_PLACEHOLDER' | translate}}"
        formControlName="username"
      />
      <span
        class="text-danger"
        *ngIf="
          userForm.get('username')?.touched &&
          userForm.get('username')?.hasError('required')
        "
      >
      {{'USERNAME_VALIDATOR' | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="form-label">{{'EMAIL' | translate}}</label>
      <input
        id="inputEmail"
        type="email"
        class="form-control"
        placeholder="{{'EMAIL_PLACEHOLDER' | translate}}"
        formControlName="email"
      />
      <span
        class="text-danger"
        *ngIf="
          userForm.get('email')?.touched &&
          userForm.get('email')?.hasError('required')
        "
      >
      {{'EMAIL_VALIDATOR' | translate}}
      </span>
      <span
        class="text-danger"
        *ngIf="
          userForm.get('email')?.hasError('email')
        "
      >
      {{'EMAIL_INVALID' | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="inputPhone" class="form-label">{{'PHONE' | translate}}</label>
      <input
        id="inputPhone"
        type="text"
        class="form-control"
        placeholder="{{'PHONE_PLACEHOLDER' | translate}}"
        formControlName="phone"
      />
      <span
        class="text-danger"
        *ngIf="
          userForm.get('phone')?.touched &&
          userForm.get('phone')?.hasError('required')
        "
      >
      {{'PHONE_VALIDATOR' | translate}}
      </span>
    </div>

    <div class="form-group">
      <label for="inputWebsite" class="form-label">{{'WEBSITE' | translate}}</label>
      <input
        id="inputWebsite"
        type="text"
        class="form-control"
        placeholder="{{'WEBSITE' | translate}}"
        formControlName="website"
      />
      <span
        class="text-danger"
        *ngIf="
          userForm.get('website')?.touched &&
          userForm.get('website')?.hasError('required')
        "
      >
      {{'WEBSITE_VALIDATOR' | translate}}
      </span>
    </div>

    <div class="form-group" formArrayName="address">
      <div class="form-group-equipment-header">
        <label class="form-label">{{'ADDRESS' | translate}}</label>
        <button
          type="button"
          class="btn-add-equipment"
          (click)="onAddAddress()"
        >
        {{'ADD_ADDRESS' | translate}}
        </button>
      </div>

      <div class="equipment-list">
        <div
          class="form-group-equipment"
          *ngFor="let addressGroup of controls; let addressIndex = index"
          [formGroupName]="addressIndex"
        >
          <div class="equipment-input-group">

            <div class="input-wrapper">
              <input
                type="text"
                class="form-control"
                placeholder="{{'STREET_PLACEHOLDER' | translate}}"
                formControlName="street"
              />
              <span
                class="text-danger"
                *ngIf="
                  addressGroup.get('street')?.touched &&
                  addressGroup.get('street')?.hasError('required')
                "
              >
              {{'STREET_VALIDATOR' | translate}}
              </span>
            </div>

            <div class="input-wrapper">
              <input
                type="text"
                class="form-control"
                placeholder="{{'SUITE_PLACEHOLDER' | translate}}"
                formControlName="suite"
              />
              <span
                class="text-danger"
                *ngIf="
                  addressGroup.get('suite')?.touched &&
                  addressGroup.get('suite')?.hasError('required')
                "
              >
              {{'SUITE_VALIDATOR' | translate}}
              </span>
            </div>

            <div class="input-wrapper">
              <input
                type="text"
                class="form-control"
                placeholder="{{'CITY_PLACEHOLDER' | translate}}"
                formControlName="city"
              />
              <span
                class="text-danger"
                *ngIf="
                  addressGroup.get('city')?.touched &&
                  addressGroup.get('city')?.hasError('required')
                "
              >
              {{'CITY_VALIDATOR' | translate}}
              </span>
            </div>

            <button
              type="button"
              class="btn-remove-equipment"
              (click)="onRemoveAddress(addressIndex)"
              *ngIf="controls.length > 1"
            >
              ×
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-submit-container">
      <button type="submit" class="btn-submit" (click)="onSubmit()" [disabled]="!isFormValid">
        {{ (editMode ? "UPDATE_USER" : "ADD_USER") | translate }}
      </button>
    </div>
  </form>
</div>
