<div class="container col-xs-12 col-sm-10 col-md-8">
  <div class="row">
    <nav class="navbar">
      <ul class="navbar-list">
        <li class="navbar-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="navbar-link" routerLink="/">Home</a>
        </li>
        <li class="navbar-item" routerLinkActive="active">
          <a class="navbar-link" routerLink="/tasks">Task</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
</div>
