<div class="container">
    <div class="row">
        <div class="">
            <form class="row" [formGroup]="taskForm">
                    <div class="form-group" *ngIf="editMode">
                        <label for="inputTitle" class="form-label">Complete Task</label>
                        <input for="inputCompletion" type="checkbox" formControlName="isCompleted"/>
                    </div>
                    <div class="form-group">
                        <label for="inputTitle" class="form-label">Task Title</label>
                        <input type="text" class="form-control" placeholder="Input your task title!" formControlName="title">
                    </div>
                    <div class="form-group">
                        <label for="inputDesc" class="form-label">Task Description</label>
                        <input type="text" class="form-control" placeholder="Input your task description!" formControlName="description">
                    </div>
                    <div class="form-group">
                        <label for="inputPenalty" class="form-label">Task Penalty Point</label>
                        <input type="number" class="form-control" placeholder="Input your task penalty point!" formControlName="penaltyPoints">
                    </div>
                <div class="form-group" formArrayName="equipment">
                    <div class="form-group-equipment-header">
                        <label for="inputEquipment" class="form-label">Equipment Needed</label>
                        <button class="btn btn-primary" type="button" (click)="onAddEquipment()">Add Equipment</button>
                    </div>
                    <div class="form-group" *ngFor="let equipGroup of controls; let equipIndex = index">
                        <div class="form-group-equipment" [formGroupName]="equipIndex">
                            <input type="text" class="form-control" placeholder="Input your equipment!" formControlName="name">
                            <input type="text" class="form-control" placeholder="Input your equipment quantity!" formControlName="quantity">
                        </div>
                    </div>
                </div>
                <div class="btn-submit-container">
                    <button type="submit" class="btn btn-primary btn-submit" (click)="onSubmit()">{{ editMode ? 'Edit task' : 'Add Task' }}</button>
                </div>
            </form>
        </div>
    </div>
</div>